/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "bootstrap";

 body{
   font-family: 'Poiret One', cursive;
   background-image: url('https://image.freepik.com/free-vector/abstract-triangles-elements-in-red-and-grey-colors-flying-polygonal-geometric-shapes-background_1302-5232.jpg');
   background-repeat: no-repeat;
   background-size: cover;
 }

#sticker{
  height: 50px;
  width: 50px;
}
.logo{
  text-align: center;
}

 img {
   height: 200px;
   width: 200px;
 }

 .addOverlay, .sticker, .snaptastic{
   height: 50px;
   width: 50px;
 }


 .btn-primary {
   background-color: #222222;
   border-color: #FFFFFF;
   width: 100px;
   padding: 10px;
   margin: 5px;
 }

#download{
  color: white;
}

.container-fluid{
  background-image: url('/assets/snaptastic.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  height: 200px;

}

#canvas, #testcanvas {
  border: 5px solid black;
  border-radius: 10px;
}
